.button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 120px;
}

.button:hover {
  cursor: pointer;
}

.primary {
  background-color: var(--pacific-cyan);
  color: #fff;
}

.accent {
  background-color: var(--vintage-grape);
  color: #fff;
}

.disabled {
  background-color: #7e7e7e;
  color: #c5c5c5;
}

.disabled:hover {
  cursor: not-allowed;
}
