.report {
  background-color: var(--white);
  width: 650px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  border: 2px solid var(--dusty-grape);
  border-radius: 10px;
  padding: 20px;
  font-size: 1.5em;
}

.countData {
  font-weight: bold;
}

.reportMetric {
  display: flex;
  gap: 10px;
}

.failedLinksHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.failedLinksList {
  margin-top: 20px;
}

.failedLink {
  display: flex;
  justify-content: space-between;
}

.failCode {
  font-weight: bold;
}
